 <header>
  
    <%= link_to "Bookers", new_user_session_path %>
    <%= link_to "Home", new_user_session_path %>
    <%= link_to "Sign up",new_user_registration_path %>
    <%= link_to "Log in", new_user_session_path %>
  

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <script src="https://kit.fontawesome.com/019ea60a67.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </header>

  <body>
     
    <% if user_signed_in? %>
    
      
    <% else %>
      <li>
          <%= link_to "Log in", new_user_session_path %>
       
      </li>
      <li>
        <%= link_to "Sin up", new_user_registration_path %>
      </li>
    <% end %>
     </body>
    <%= yield %>
  </body>
 
</html>
